/* main */
html {
    overflow: hidden;
    height: 100%;
}

body {
  background-color: #535659;
  background-image: url("./images/wood_img.webp");
  height: 100%;
  overflow: auto;
  margin: 0 auto;
  z-index: 1;
}

.App {
  text-align: center;
}

#root{
  display: flex;
  justify-content: center;
  /* background-color: #535659;
  background-image: url("./images/wood_img.webp"); */
}

/* elements */
li{
  list-style-type: none;
  border: 1px solid black;
  border-radius: 2px;
  margin: 10px;
  padding: 5px;
  text-align: center;
  color: black;
  background-color: #FFF;
  box-shadow: 2px 2px 5px black;
}
button{
  box-shadow: 2px 2px 5px #535659;
  border-radius: 3px;
}

button:hover{
  background-color: #807F80;
  cursor: pointer;
}

header{
  text-align: center;
}

p{
  margin-block-end: 5px;
}

/* headers */
.nav-div{
  justify-content: center;
}

#main-header{
  background-image: url("./images/leaves_img.webp");
  background-color: #cccccc;
  color: #FFF;
  box-shadow: 5px 5px 8px #202124;
  border-radius: 3px;
  width: 100%;
}

#restaurant-header{
  text-align: center;
  font-family: Courier New, serif;
  font-size: 4rem;
  margin-bottom: 10px;
}

/* app.js */

.main-container{
  background-color: #FFF;;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  box-shadow: 5px 5px 8px #202124;
  border-radius: 3px;
}


#restaurant-phone-number{
  text-decoration: none;
  color: #FFF;
}

#restaurant-phone-number:hover{
  text-shadow: 2px 2px black;
  color: #FFF;
}

.add-to-order{
  text-shadow: 2px 2px black;
}

/* MenuList */

.category-button{
  display: flex;
  flex-direction: column;
  width: 25%;
  margin: 3px;
  align-items: center;
}

.menu-header{
  text-align: center;
  font-family: Courier New;
  font-size: 3rem;
}

.order-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #535659;
  color: #FFF;
  padding: 10px 30px;
  border: 1px solid black;
  text-align: center;
  margin: 20px;
  box-shadow: 5px 5px 8px #202124;
  border-radius: 3px;
}

.ul-items{
  padding-left: unset !important;
}

.footer {
  margin: 5px;
  text-align: center;
  font-family: Courier New;

}
