.App {
  text-align: center;
}

#root{
  display: flex;
  justify-content: center;
  background-color: #535659;
}

.main-menu{
  background-color: #FFF;;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  box-shadow: 5px 5px 8px #202124;
  border-radius: 3px;
}

li{
  list-style-type: none;
  border: 1px solid black;
  margin: 10px;
  padding: 5px;
  text-align: center;
  color: black;
  background-color: #FFF;
  box-shadow: 2px 2px 5px black;

}

button{
  box-shadow: 2px 2px 5px #535659;
  border-radius: 3px;
}

button:hover{
  background-color: #807F80;
  cursor: pointer;
}

header{
  text-align: center;
}

p{
  margin-block-end: 5px;
}

.add-to-order{
  text-shadow: 2px 2px black;
}

.main-header{
  text-align: center;
  font-family: Courier New, serif;
  font-size: 4rem;
  margin-bottom: 10px;
}

.menu-header{
  text-align: center;
  font-family: Courier New;
  font-size: 3rem;
}

table,
td {
    border: 1px solid #333;
    text-align: center;
}

thead,
tfoot {
    background-color: #333;
    color: #fff;
}


td {
  padding: 10px;
}

.order-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #535659;
  color: #FFF;
  padding: 10px 30px;
  border: 1px solid black;
  text-align: center;
  margin: 20px;
  box-shadow: 5px 5px 8px #202124;
  border-radius: 3px;
}

ul{
  padding-inline-start: 0px;
}

/*
div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
} */
